<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>


	<servlet>
	    <servlet-name>Login</servlet-name>
	    <servlet-class>jp.tuyano.Login</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Login</servlet-name>
	    <url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>OrderServlet</servlet-name>
	    <servlet-class>jp.tuyano.OrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>OrderServlet</servlet-name>
	    <url-pattern>/OrderServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>UserInfo</servlet-name>
	    <servlet-class>jp.tuyano.UserInfo</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>UserInfo</servlet-name>
	    <url-pattern>/UserInfo</url-pattern>
	</servlet-mapping>
	
</web-app>
